<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <title>Monitoring & Evaluation System</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="./">Home</a></li>
                    <li ><a href="./dashboard">Dashboard</a></li>
                    <li><a href="./assessment">Assessment</a></li>
                    <li><a href="./monitoring">Monitoring</a></li>
                    <li><a href="./performance">Performance</a></li>
                    <li><a href="./alleviation">Alleviation</a></li>
                   <li><a href="./siting">siting</a></li>
                </ul> 
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./barrack">Add Barrack</a></li>
                    <li><a href="./child">Add Family</a></li>
                    <li class="active"><a href="./child">Add Child<span class="sr-only">(current)</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
   		<h4>Child Details</h4>
			<form action="#" th:action="@{/child}" th:object="${child}" method="post">
				<div class="row">
					<div class="form-group col-md-8">
	                    <label for="firstName" class="col-form-label">First Name</label> 
	                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name" value="${child.firstName}"/>
	                </div>
	                <div class="form-group col-md-8">
	                    <label for="otherNames" class="col-form-label">Other Names</label> 
	                    <input type="text" th:field="*{otherNames}" class="form-control" id="otherNames" placeholder="Other names" value="${child.otherNames}" />
	                </div>
	                <div class="form-group col-md-8">
	                    <label for="gender" class="col-form-label">Gender</label> <br/>
	                	<select  class="form-control"  id="gender" th:field="*{gender}">
						    <option th:value="'MALE'" th:text="Male"></option>
						    <option th:value="'FEMALE'" th:text="Female"></option>
						    <option th:value="'UNKNOWN'" th:text="Unknown"></option>
						</select>
	                </div>
	                <div class="form-group col-md-8">
	                    <label for="status" class="col-form-label">Current Status</label> <br/>
	                	<select  class="form-control"  id="status" th:field="*{status}">
						    <option th:value="'ONGOING'" th:text="On-Going"></option>
						    <option th:value="'COMPLETED'" th:text="Completed"></option>
						</select>
	                </div>
	                <div class="form-group col-md-8">
	                    <label for="programType" class="col-form-label">Program</label>  <br/>
	                	<select  class="form-control" id="programType" th:field="*{programType}">
						    <option th:value="'BOARDING'" th:text="'Boarding School'"></option>
						    <option th:value="'DAY'" th:text="'Primary School'"></option>
						    <option th:value="'LUNCH'" th:text="'Lunch program'"></option>
						</select>
	                </div>
	                <div class="form-group col-md-8">
	                    <label for="yearEnrolled" class="col-form-label">Year Enrolled</label> 
	                    <input type="number" th:field="*{yearEnrolled}" class="form-control" id="yearEnrolled" placeholder="Year Enrolled" value="${child.yearEnrolled}" />
	                </div>
	                <div class="form-group col-md-8">
	                    <label for="barrackId" class="col-form-label">Barrack</label>  <br/>
	                	<select  class="form-control" id="barrackId" th:field="*{barrackId}">
						    <option value="0">Select Barrack</option>
            				<option th:each="barrack : ${barracks}" th:value="${barrack.id}" th:text="${barrack.name}"></option>
						</select>
	                </div>
	                <div class="form-group col-md-8">
	                    <label for="familyId" class="col-form-label">Street Family</label>  <br/>
	                	<select  class="form-control" id="familyId" th:field="*{familyId}">
						    <option value="0">Select Street Family</option>
            				<option th:each="family : ${families}" th:value="${family.id}" th:text="${family.familyName}"></option>
						</select>
	                </div>
	                <div class="form-group col-md-8">
	                    <label for="reason" class="col-form-label">Remarks</label> 
	                    <input type="text" th:field="*{reason}" class="form-control" id="reason" placeholder="Remarks/Comments (Optional)" value="${child.reason}" />
	                </div>
	                
					<input type="hidden" id="id" th:field="*{id}" value="${child.id}">
					 <div class="col-md-6">
                         <input type="submit" class="btn btn-primary" value="Save">
                     </div>
                     <div class="col-md-6">
                         <input type="reset" class="btn btn-danger" value="Clear">
                     </div>       
				</div>
			</form>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/jquery-3.4.1.js" th:href="@{/js/jquery-3.4.1.js}"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>