<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <title>Monitoring & Evaluation System</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="./">Home</a></li>
                    <li class="active"><a href="./dashboard">Dashboard</a></li>
                    <li><a href="./assessment">Assessment</a></li>
                    <li><a href="./monitoring">Monitoring</a></li>
                    <li><a href="./performance">Performance</a></li>
                    <li><a href="./alleviation">Alleviation</a></li>
                   <li><a href="./siting">siting</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./barrack">Add Barrack</a></li>
                    <li><a href="./family">Add Family</a></li>
                    <li><a href="./child">Add Child</a></li>
                </ul> 
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron text-center">
     <h3 th:text="'Select a menu below to proceed or select from the menu above for quick access.'"></h3>
	    <div class="row">
			<div class="col-sm-6">
	    	    <div class="hero-widget well well-sm">
	                <div class="icon">
	                     <i class="glyphicon glyphicon-user"></i>
	                </div>
	                <div class="text">
	                    <label class="text-muted">Number of street children, Mapping of street children family</label>
	                </div>
	                <div class="options">
	                    <a href="./assessment" class="btn btn-primary btn-lg">Assessment</a>
	                </div>
	            </div>
			</div>
	        <div class="col-sm-6">
	            <div class="hero-widget well well-sm">
	                <div class="icon">
	                     <i class="glyphicon glyphicon-tags"></i>
	                </div>
	                <div class="text">
	                    <label class="text-muted">Performance of the different interventions</label>
	                </div>
	                <div class="options">
	                    <a href="./monitoring" class="btn btn-primary btn-lg">Monitoring</a>
	                </div>
	            </div>
			</div>
	        <div class="col-sm-6">
	            <div class="hero-widget well well-sm">
	                <div class="icon">
	                     <i class="glyphicon glyphicon-signal"></i>
	                </div>
	                <div class="text">
	                    <label class="text-muted">View the list of street children from that particular barracks who integrated back to the family or have completed education</label>
	                </div>
	                <div class="options">
	                    <a  href="./performance"  class="btn btn-primary btn-lg">Performance Analysis</a>
	                </div>
	            </div>
	    	</div>
	        <div class="col-sm-6">
	            <div class="hero-widget well well-sm">
	                <div class="icon">
	                     <i class="glyphicon glyphicon-cog"></i>
	                </div>
	                <div class="text">
	                    <label class="text-muted">View child’s primary and secondary intervention as per the selection</label>
	                </div>
	                <div class="options">
	                    <a href="./alleviation" class="btn btn-primary btn-lg">Alleviation</a>
	                </div>
	            </div>
			</div>
			<div class="col-sm-6">
	            <div class="hero-widget well well-sm">
	                <div class="icon">
	                     <i class="glyphicon glyphicon-cog"></i>
	                </div>
	                <div class="text">
	                    <label class="text-muted">View the map area of the barracks, Nearest Health facility and the Street Family</label>
	                </div>
	                <div class="options">
	                    <a href="./siting" class="btn btn-primary btn-lg">Siting</a>
	                </div>
	            </div>
			</div>
		</div>
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/jquery-3.4.1.js" th:href="@{/js/jquery-3.4.1.js}"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>